---
import Layout from '../layouts/Layout.astro';
import Navigation from '@/components/Navigation';
import Hero from '@/components/Hero';
import FeaturedProject from '@/components/FeaturedProject';
import Skills from '@/components/Skills';
import Projects from '@/components/Projects';
import About from '@/components/About';
import CallToAction from '@/components/CallToAction';
import Footer from '@/components/Footer';
---

<Layout title="Home | My Portfolio">
  <Navigation client:load />
  
  <main id="main-content">
    <Hero client:load />
    
    <FeaturedProject client:visible />
    <Projects client:visible />
    <Skills client:visible />
    
    <About client:visible />
    <CallToAction client:visible />
  </main>
  
  <Footer />
</Layout>