.blog-text  {
  margin-bottom: 64px;
}

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.post-item {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-bottom: 16px;
  border-bottom: solid #11111b;
  max-height: 320px;
}

@media (max-width: 768px) {
  .post-item {
    flex-direction: column;
  }
}


.post-thumbnail {
  width: 288px;
  height: 192px;
  border: 4px solid #cba6f7;
  box-shadow: 5px 5px 5px #11111b;
}

.post-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.post-title {
  font-size: 1.5rem;
  list-style: none;
  text-align: center;
}