.post-container {
  max-width: 850px;
  margin: 0 auto;
}

.post-header {
  text-align: center;
  margin-bottom: 2rem;
}

.post-header h1 {
  max-width: 800px;
  font-size: 2.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

.post-header time {
  font-size: 0.9em;
  color: #585b70;
}

.post-body {
  line-height: 1.7;
  font-size: 1.1em;
}

.post-body p {
  margin-bottom: 1em;
}

.post-body h2 {
  margin-top: 2em;
  margin-bottom: 1em;
}

.figma-embed {
  display: flex;
  justify-content: center;
  max-width: 800px;
  height: 600px;
}

.figma-embed iframe {
  border: 4px solid red;
  flex-grow: 1;
  flex-shrink: 1;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .figma-embed {
    max-width: 350px; 
  }

  pre {
  max-width: 100%;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch; 
  }

  pre code {
    white-space: pre; 
  }
}
